In [4]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("puzzle_data.csv")
df.head()

,setup,FEN,next_move_number,moves,result,player,best_case
0,1,1R6/p3k1p1/2p2b2/2Pn4/1BQPB3/P7/6PP/3q2K1 w - ...,33,33. Qf1 Bxd4+ 34. Kh1 Qxf1,0-1,Black,2
1,1,2r3k1/p4p1p/4pp2/1b6/pP1P3P/P3PN2/2rN1PP1/R3K2...,20,20. d5 Rc1+ 21. Rxc1 Rxc1,0-1,Black,2
2,1,4r1k1/1pR3p1/p2pn1qp/8/PPBP4/1QP1n3/3N2PP/5RK1...,26,26. Rff7 Qxg2,0-1,Black,1
3,1,5r1k/p1p3pp/1p4p1/2n1P3/2B3P1/1P2r2P/P5K1/3R1R...,1,1... Rxf1 2. Rd8+ Rf8 3. Rxf8,1-0,White,3
4,1,3q3k/p2R3p/1p3bpB/8/2r3P1/5Q1P/PPP2PK1/8 b - -...,1,1... Qxd7 2. Qxf6+ Kg8 3. Qf8,1-0,White,3

In [3]:
df["moves"][0]

'33. Qf1 Bxd4+ 34. Kh1 Qxf1'

In [21]:
re.findall(r"\d+\.{1}\s", df["moves"][0])

['33. ', '34. ']

In [30]:
target = df[["moves", "best_case", "player"]]
target.head()

                           moves  best_case player
0     33. Qf1 Bxd4+ 34. Kh1 Qxf1          2  Black
1      20. d5 Rc1+ 21. Rxc1 Rxc1          2  Black
2                  26. Rff7 Qxg2          1  Black
3  1... Rxf1 2. Rd8+ Rf8 3. Rxf8          3  White
4  1... Qxd7 2. Qxf6+ Kg8 3. Qf8          3  White

In [23]:
target.shape

(40, 2)

In [41]:
count = 0
rows = []
for i in range(40):
    numbers = re.findall(r"\d+\.{1}\s", df["moves"][i])
    if len(numbers) == df["best_case"][i]:
        pass
    else:
        rows.append(i)
        print(f"[INFO] Action required at row {i}, player : {df['player'][i]}")
        count+=1

print(f"[INFO] {count} row/s need/s to be fixed")

[INFO] Action required at row 3, player : White
[INFO] Action required at row 4, player : White
[INFO] Action required at row 7, player : White
[INFO] Action required at row 8, player : White
[INFO] Action required at row 9, player : White
[INFO] Action required at row 12, player : White
[INFO] Action required at row 14, player : White
[INFO] Action required at row 16, player : White
[INFO] Action required at row 18, player : White
[INFO] Action required at row 21, player : White
[INFO] Action required at row 24, player : White
[INFO] Action required at row 26, player : White
[INFO] Action required at row 28, player : White
[INFO] Action required at row 30, player : White
[INFO] Action required at row 33, player : White
[INFO] Action required at row 34, player : White
[INFO] Action required at row 37, player : White
[INFO] Action required at row 38, player : White
[INFO] 18 row/s need/s to be fixed

In [39]:
list(df["player"]).count("White")

18

## So all white rows need fixing

In [43]:
for index in rows:
    print(df["moves"][index])

1... Rxf1 2. Rd8+ Rf8 3. Rxf8
1... Qxd7 2. Qxf6+ Kg8 3. Qf8
8... h6 9. Qc8
22... Nd4 23. Qxf7
11... gxh6 12. Qh5+ Ke7 13. Qf7
16... a6 17. Nf6+ Ke7 18. Rd7
1... Rc1 2. Ng6+ hxg6 3. Rh4
21... Kf8 22. Rxe8+ Kxe8 23. Qg8
36... Kg4 37. h3+ Kh4 38. Rxf4
28... Na6 29. Qf6+ Rg7 30. Qxg7
39... Ka5 40. Rb5+ Ka4 41. Ra6
16... Qe7 17. Nf6+ gxf6 18. Qh7
19... Qxa2 20. Qxg7
1... Qxd5 2. Qf6 Qd7 3. Qf8+ Rxf8 4. Rxf8
1... Rxe3 2. Rh8+ Kg7 3. R1h7
31... Kg7 32. Rg8
42... Nxc3 43. h5+ Kf6 44. g5
1... Kg6 2. Qxe6+ Kg5 3. Qf5+ Kh4 4. Qh5