In [4]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("puzzle_data.csv")
df.head()

,setup,FEN,next_move_number,moves,result,player,best_case
0,1,1R6/p3k1p1/2p2b2/2Pn4/1BQPB3/P7/6PP/3q2K1 w - ...,33,33. Qf1 Bxd4+ 34. Kh1 Qxf1,0-1,Black,2
1,1,2r3k1/p4p1p/4pp2/1b6/pP1P3P/P3PN2/2rN1PP1/R3K2...,20,20. d5 Rc1+ 21. Rxc1 Rxc1,0-1,Black,2
2,1,4r1k1/1pR3p1/p2pn1qp/8/PPBP4/1QP1n3/3N2PP/5RK1...,26,26. Rff7 Qxg2,0-1,Black,1
3,1,5r1k/p1p3pp/1p4p1/2n1P3/2B3P1/1P2r2P/P5K1/3R1R...,1,1... Rxf1 2. Rd8+ Rf8 3. Rxf8,1-0,White,3
4,1,3q3k/p2R3p/1p3bpB/8/2r3P1/5Q1P/PPP2PK1/8 b - -...,1,1... Qxd7 2. Qxf6+ Kg8 3. Qf8,1-0,White,3

In [3]:
df["moves"][0]

'33. Qf1 Bxd4+ 34. Kh1 Qxf1'

In [11]:
re.findall(r"(^\d+\.{1}\s)", df["moves"][0], )

['33.']